$general-font: normal 20px 'Spline Sans Mono', monospace;


body {
    background-color: black;
    color: aliceblue;
    font: $general-font;
    background-image: url(../img/abstract-banner-background-with-red-shapes_1361-3348\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
}   

h1 {
    color: yellow !important;
    font-size: 36px;
}

.video {
    width: 800px;
    height: 500px;
}

$estiloredes:(
    widthred: 30px,
    borderred: 2px solid rgb(0, 102, 136),
    borderstyred: double,
    bordwidthred: 5px,
    paddingred: 20px,
    bg: aqua,
    overflowred: hidden,
    marginred: 5px
)

footer {
    font-size: 25px;
    list-style: none;
    #footer {
        display: grid;
        grid-template-areas: 
        "header header header"
        "facebook instagram whatsapp";
        grid-template-columns: 1fr 1fr 1fr;
        &__tittle {
            grid-area: header;
            margin-bottom: 30px;
        }
        .cont__facebook {
            grid-area: facebook
            & {
                background-color: map-get($estiloredes, bg);
                width: map-get($estiloredes, widthred);
                border: map-get($estiloredes, boderred);
                border-style: map-get($estiloredes, borderstyred);
                border-width: map-get($estiloredes, bordwidthred);
                padding: map-get($estiloredes, paddingred);
                overflow: map-get($estiloredes, overflowred);
                margin: map-get($estiloredes, marginred);
                    }
                }
            .cont__instagram {
                grid-area: instagram
                & {
                    background-color: map-get($estiloredes, bg);
                width: map-get($estiloredes, widthred);
                border: map-get($estiloredes, boderred);
                border-style: map-get($estiloredes, borderstyred);
                border-width: map-get($estiloredes, bordwidthred);
                padding: map-get($estiloredes, paddingred);
                overflow: map-get($estiloredes, overflowred);
                margin: map-get($estiloredes, marginred);
                    }
                }
            .cont__whatsapp {
                grid-area: whatsapp
                & {
                    background-color: map-get($estiloredes, bg);
                width: map-get($estiloredes, widthred);
                border: map-get($estiloredes, boderred);
                border-style: map-get($estiloredes, borderstyred);
                border-width: map-get($estiloredes, bordwidthred);
                padding: map-get($estiloredes, paddingred);
                overflow: map-get($estiloredes, overflowred);
                margin: map-get($estiloredes, marginred);
                    }
                }
    }
}

