@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap");
body {
  font-family: "Spline Sans Mono", monospace !important;
  background-color: black;
  background-image: url(../img/abstract-banner-background-with-red-shapes_1361-3348\ \(1\).webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  color: yellow !important;
  font-size: 36px;
}

h2 {
  color: yellow !important;
  font-size: 30px;
}

.título {
  text-align: center;
  font-size: 40px;
}

footer {
  font-size: 25px;
  list-style: none;
}

.navbar-brand {
  color: black !important;
  font-size: 1px;
}

.card-body {
  background-color: black;
}

.caja__texto {
  width: 50%;
  margin: auto;
  padding: 20px 40px;
  color: rgb(211, 255, 255);
  font-size: 24px;
  margin-bottom: 2cm;
  border: 2px solid yellow;
  overflow: auto;
}

.form {
  color: rgb(211, 255, 255);
}

.video {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: block;
}

div {
  color: aliceblue;
}

.tienda {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  display: block;
}

footer #footer {
  font-size: 15px;
}
footer #footer .cont__facebook {
  size: 300px;
  size-adjust: auto;
}
footer #footer .cont__facebook .facebook {
  width: 50px;
  border: 2px solid rgb(0, 102, 136);
  border-style: double;
  border-width: 5px;
  padding: 5px;
  background-color: aqua !important;
  overflow: hidden;
  margin: 5px;
  size-adjust: auto;
}
footer #footer .cont__instagram .instagram {
  width: 50px;
  border: 2px solid rgb(0, 102, 136);
  border-style: double;
  border-width: 5px;
  padding: 5px;
  background-color: aqua;
  overflow: hidden;
  margin: 5px;
  size-adjust: auto;
}
footer #footer .cont__whatsapp .whatsapp {
  width: 50px;
  border: 2px solid rgb(0, 102, 136);
  border-style: double;
  border-width: 5px;
  padding: 5px;
  background-color: aqua;
  overflow: hidden;
  margin: 5px;
  size-adjust: auto;
}

#footer {
  display: grid;
  grid-template-areas: "header header header" "facebook instagram whatsapp";
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__tittle {
  grid-area: header;
  margin-bottom: 30px;
}

.cont__facebook {
  grid-area: facebook;
}

.cont__instagram {
  grid-area: instagram;
}

.cont__whatsapp {
  grid-area: whatsapp;
}

@media screen and (max-width: 768px) {
  body {
    padding: 5px;
  }
  .título {
    font-size: 25px;
    margin-top: 15px;
  }
  .new {
    font-size: 20px;
  }
  .caja__texto {
    font-size: 10px;
    padding: 1px;
  }
  .card-text {
    font-size: 15px;
  }
  #caja {
    max-width: 250px;
  }
  .footer__tittle {
    font-size: 20px;
    margin-top: 10px;
  }
  .video {
    max-width: 100%;
  }
  .tienda {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  #footer div div {
    display: none;
  }
  main {
    padding: 10px;
  }
  .formlist {
    display: inline-block;
    justify-content: left;
    padding-left: 0 !important;
  }
  #producto1 {
    display: grid;
  }
  #producto2 {
    display: grid;
  }
  #producto3 {
    display: grid;
  }
  #producto4 {
    display: grid;
  }
  #producto5 {
    display: grid;
  }
}
input {
  width: 100px;
  transition: all 1s;
}

#nombre:hover {
  width: 350px;
  height: 100px;
  background-color: white;
  color: black;
  font-size: 30px;
}

#email:hover {
  width: 300px;
  height: 100px;
  background-color: white;
  color: black;
  font-size: 30px;
}

#caja:hover {
  width: 900px;
  height: 200px;
  background-color: white;
  color: black;
  font-size: 30px;
}

@-webkit-keyframes new {
  0% {
    width: 25%;
  }
  50% {
    width: 50%;
    background-color: white;
  }
  100% {
    width: 100%;
    background-color: black;
  }
}

@keyframes new {
  0% {
    width: 25%;
  }
  50% {
    width: 50%;
    background-color: white;
  }
  100% {
    width: 100%;
    background-color: black;
  }
}
.new {
  background-color: black;
  -webkit-animation-name: new;
          animation-name: new;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media screen and (min-width: 769px) {
  .carousel-item {
    max-height: 80vh;
  }
  .carousel-item img {
    max-height: 80vh;
    width: auto !important;
    margin: 0 auto;
  }
}
.carousel-caption {
  background: rgba(128, 128, 128, 0.6509803922);
  bottom: 0 !important;
}

main, footer {
  padding: 25px;
}

.formsub {
  font-size: 20px;
}

.formlist {
  list-style: none;
}

.navbar-nav {
  border: 2px solid rgb(0, 102, 136);
  border-style: double;
  border-width: 5px;
  padding: 10px;
  background-color: blue;
  overflow: hidden;
  align-content: center;
  width: 100%;
  justify-content: space-evenly;
}

.navbar-nav a:hover {
  color: black;
  background-color: yellowgreen;
  background-size: auto;
}

a:active {
  color: azure;
}/*# sourceMappingURL=newstyle.css.map */